
h1{
    font-family: 'Lobster', cursive;
    text-align: center;
}


#main{
    
    width: 1100px;
    height: 400px;
    background-color: rgb(240, 132, 10);
    margin-left: 100px;
}

div div{
    width: 200px;
    height: 400px;
    border-style: solid;
    border-width: 10px;
    float: left;
    border-color: white;

}

#two{
   
    background-color: rgb(255, 0, 221);  
}

#three{
    background-color: rgb(67, 13, 216);
}
#four{
    background-color: rgb(182, 125, 19);
}
#five{
    background-color: rgb(87, 143, 216);
}

/*
table{
    margin-left: 25%;
    border-spacing: 20px;
}
td{
    width: 100px;
    height: 400px;
}
tr{
    border-width: 12%;
}
#one{
    
    background-color: rgb(28, 75, 177);
}

#two{

    background-color: rgb(255, 0, 221);
    
}
#three{
    
    background-color: rgb(129, 36, 36);
   
}
#four{
   
    background-color: rgb(33, 177, 28);
    
}
#five{
   
    background-color: rgb(141, 109, 137);
    
}
*/